.App {
  font-family: sans-serif;
  text-align: center;
  color: red;
}
h1 {
  color: crimson;
}
h2 {
  color: chocolate;
}
.button {
  background-color: blue;
  color: white;
}
#wrapper {
  text-align: center;
}
